.contact-container {
    margin: 6rem 0;
    position: relative;
    padding: 0 1rem;
}

.contact-container h5 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
    background: linear-gradient(to right, #fff, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-content {
    display: flex;
    gap: 3rem;
}

.contact-info-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-form-wrapper {
    flex: 1.5;
}

.address{
    width: 1.8rem;
    height: auto;
    object-fit: contain;
}