.skills-container{
    margin: 4rem 0;
    position: relative;
    /* z-index: -3; */
}

.skills-container::after,
.skills-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius:28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.skills-container::after{
    top: -3rem;
    left: -5rem;
}

.skills-container::before{
    background: #9e51b9;
    bottom: 2rem;
    right: 0;

}



.skills-container h5 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
    background: linear-gradient(to right, #fff, var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: flex-start;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.skills-info{
    flex: 1;
    
}


@media (max-width: 1024px) {
    .skills-content {
        grid-template-columns: 1fr;
    }
    .skills-container h5 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr;
    }
}